
src/MTGDeckAnalyzer.Api/bin/Debug/net10.0/

src/MTGDeckAnalyzer.Api/obj/Debug/net10.0/

src/MTGDeckAnalyzer.Api/obj/

src/mtg-deck-analyzer-ui/node_modules/.bin/

src/mtg-deck-analyzer-ui/node_modules/

src/MTGDeckAnalyzer.Application.Tests/bin/Debug/net10.0/es/

*.dll

*.cache

src/MTGDeckAnalyzer.Application.Tests/obj/Debug/net10.0/

src/MTGDeckAnalyzer.Application.Tests/bin/Debug/net10.0/

src/MTGDeckAnalyzer.Infrastructure/obj/Debug/net10.0/

src/MTGDeckAnalyzer.Infrastructure/obj/

src/node_modules/

src/MTGDeckAnalyzer.Application/obj/Debug/net10.0/

src/MTGDeckAnalyzer.Application/obj/

src/MTGDeckAnalyzer.Application/bin/Debug/net10.0/

src/MTGDeckAnalyzer.Application.Tests/obj/

src/MTGDeckAnalyzer.Infrastructure/bin/Debug/net10.0/
